<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultThresholdValue" value="100"/>
		<add key="defaultMaxErrorValue" value="0,04"/>
		<add key="defaultMinViableAreaValue" value="0"/>
		<add key="defaultMaxViableAreaValue" value="99999999"/>
		<add key="minimumViableAreaValue" value="0"/>
		<add key="maximumViableAreaValue" value="99999999"/>
	</appSettings>
</configuration>