<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultThresholdValue" value="101"/>
		<add key="defaultMaxErrorValue" value="0,06"/>
		<add key="defaultMinViableAreaValue" value="0"/>
		<add key="defaultMaxViableAreaValue" value="99999999"/>
		<add key="minimumViableAreaValue" value="0"/>
		<add key="maximumViableAreaValue" value="99999999"/>
	</appSettings>
</configuration>